h1 {
  margin: 0;
  font-weight: normal;
  user-select: none;
}

time.icon-small {
  font-size: 13px;
  display: block;
  position: relative;
  width: 5em;
  height: 5em;
  background-color: #fff;
  margin: auto;
  border-radius: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  overflow: hidden;
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
  user-select: none;
}

time.icon-small * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  user-select: none;
}

time.icon-small strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: aliceblue;
  background-image: linear-gradient(#9c9c9c, #2e2e2e);
  box-shadow: 0 2px 0 #999999;
  user-select: none;
  font-size: smaller;
}

time.icon-small em {
  position: absolute;
  bottom: 0.3em;
  color: #000000;
  user-select: none;
  font-size: smaller;
}

time.icon-small span {
  width: 100%;
  font-size: 1.75em;
  letter-spacing: -0.05em;
  padding-top: 1em;
  color: #000000;
  user-select: none;
}

time.icon-small:hover,
time.icon-small:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }
  20% {
    -webkit-transform: rotate(12deg) skewY(4deg);
  }
  60% {
    -webkit-transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    -webkit-transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg) skewY(0deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg) skewY(0deg);
  }
  20% {
    transform: rotate(12deg) skewY(4deg);
  }
  60% {
    transform: rotate(-9deg) skewY(-3deg);
  }
  80% {
    transform: rotate(6deg) skewY(-2deg);
  }
  100% {
    transform: rotate(0deg) skewY(0deg);
  }
}
