.card {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  width: 550px;
  min-height: 500px;
  background: #ffffff;
  text-align: center;
  margin: 75px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  user-select: none;
  -webkit-animation: fadeIn 2s linear forwards;
  animation: fadeIn 2s linear forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
